html,
body {
  margin: 0;
}
#map {
    position: absolute;
    top: 17em;
    bottom: .1em;
    left: 10em;
    right: 10em;
}
header .PG { 
    position: relative; 
    text-align: center;
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px; 
    top: 1em;
 }
 .headerBackground {
  padding: 5px 0;
  background-color: rgb(70, 70, 70);
  height: 9em;
  width: 100%;
}
menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(247, 233, 207, 0);
    z-index: 2;
  }
  list {
    float: left;
  }
  list a {
    display: block;
    width: auto;
    text-align: center;
    padding: 14px 16px;
    color: white;
    border-bottom: 3px solid rgb(197, 197, 197);
    text-decoration: none;
    font-family: verdana;
  }
  list a:hover {
    border-bottom: 3px solid gray;
    color: rgb(184, 184, 184);
  }
  list a.active {
    background-color: rgb(168, 219, 161);
    border-bottom: white;
    color: black;
  }
  .indexBio {
    margin: 25em 14em 14em;
    position: relative;
	  text-align:center;
	  color: black;
	  font-family: verdana;
	  font-size: 20px;
  }
  .aboutBio {
    margin: 2em 14em 14em;
    position: relative;
	  text-align:center;
	  color: black;
	  font-family: verdana;
	  font-size: 20px;
  }
  .documentationBio {
    margin: 2em 14em 14em;
    position: relative;
	  text-align:center;
	  color: black;
	  font-family: verdana;
    font-size: 20px;
  }