html,
body {
  margin: 0;
  box-sizing: border-box;
}
#map {
    top: 20em;
    position: relative;
    display: inline;
}
.tableauPlaceholder {
  top: 2em;
  left: 5em;
  align-content: center;
}
header .PG { 
    position: relative; 
    text-align: center;
    width: 100%;
    color: white;
    font-family: verdana;
    font-size: 30px; 
    top: 1em;
 }
 .headerBackground {
  padding: 5px 0;
  background-color: rgb(70, 70, 70);
  height: 9em;
  width: 100%;
}
menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgba(247, 233, 207, 0);
    z-index: 2;
  }
  list {
    float: left;
  }
  list a {
    display: block;
    width: auto;
    text-align: center;
    padding: 14px 16px;
    color: white;
    border-bottom: 3px solid rgb(197, 197, 197);
    text-decoration: none;
    font-family: verdana;
  }
  list a:hover {
    border-bottom: 3px solid gray;
    color: rgb(184, 184, 184);
  }
  list a.active {
    background-color: rgb(168, 219, 161);
    border-bottom: white;
    color: black;
  }
  .indexBio {
    margin: 25em 14em 14em;
    position: relative;
	  text-align:center;
	  color: black;
	  font-family: verdana;
	  font-size: 20px;
  }
  .aboutBio {
    margin: 2em 14em 14em;
    position: relative;
	  text-align:center;
	  color: black;
	  font-family: verdana;
	  font-size: 20px;
  }
  .documentationBio {
    margin: 2em 14em 14em;
    position: relative;
	  text-align:center;
	  color: black;
	  font-family: verdana;
    font-size: 20px;
  }
  .docHeader {
    text-align: center;
  }
  .heading{
    text-align: center;
  }

  /* About Page CSS */
  #row{
    padding-top: 50px;
  }
  .column-left {
    box-shadow: 0 4px 8px 0 black;
    font-family: verdana;
    margin-top: 2em;
    margin-left: 1em;
    top: 20em;
    float: left;
    width: 32%;
    height: 26em;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(207, 207, 207);
  }
  .column-center {
    box-shadow: 0 4px 8px 0 black;
    font-family: verdana;
    margin-top: 2em;
    margin-left: .5em;
    float: left;
    align-content: center;
    width: 32%;
    height: 26em;
    padding-left: 10.5px;
    background-color: rgb(207, 207, 207);
  }
  .column-right {
    box-shadow: 0 2px 4px 0 black;
    font-family: verdana;
    margin-top: 2em;
    margin-right: 1em;
    float: right;
    width: 32%;
    height: 26em;
    padding-left: 8.75px;
    padding-right: 10px;
    background-color: rgb(207, 207, 207);
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  img {
    width:  100%;
    height: auto;
    background-repeat:   no-repeat;
    background-size:     cover;
  }
  .column {
    float: left;
    margin-left: 5em;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 10px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .container {
    padding: 0 20px;
  }
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .title {
    color: grey;
  }
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  .button:hover {
    background-color: #555;
  }